<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>

<body>
    {% for category, message in get_flashed_messages(with_categories= True) %}
        <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    
    <form method="post">
        <div>
            {{ form.title.label }}<br>
            {{ form.title() }}
        </div>
        <div>
            {{ form.content.label }}<br>
            {{ form.content() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>

</html>