<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    {% for category, message in get_fashed_message(with_category= True) %}
        <p class= "{{ category }}"> {{ message }} </p>
    {% endfor %}

    <form method="post">
        <div>
            {{ form.username.label }}<br>
            {{ form.username() }}
        </div>

        <div>
            {{ form.password.label }}<br>
            {{ form.password() }}
        </div>

        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>